<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido al Asistente de Compostaje</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon">
</head>
<body style="background-image: url('/static/images/ia.jpg'); background-size: cover; color: white; text-align: center; padding-top: 100px;" class="/static/images/inicio.png">
    <h1>Bienvenido al Asistente Inteligente de Compostaje para Café</h1>
    <form action="/menu" method="get" style="margin-top: 30px;">
        <input type="text" name="nombre" placeholder="Ingresa tu nombre" required style="padding: 10px; font-size: 18px; border-radius: 8px;">
        <button type="submit" style="padding: 10px 20px; font-size: 18px; border-radius: 8px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
            Entrar
        </button>
    </form>

<body>

</html>

